.dropdownAboutContainer {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .dropdownAbout{
        width: 85%;
        margin-bottom: 30px;
        position: relative;

        .dropdownTitle {
            background: $color1;
            width: 100%;
            border-radius: 10px;
            padding: 10px 20px;
            color: white;
            font-size: 24px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            cursor: pointer;

            .dropdownButton {
                background: $color1;
                color: white;
                font-size: 24px;
                font-weight: 700;
            }

            .fa-chevron-down {
                transition: transform 0.3s ease;
            }

            .fa-chevron-down-rotate {
                transform: rotate(180deg);
            }
        }
        
        .dropdownContent {
            padding: 20px;
            display: none;
            background: #f6f6f6;
            border-radius: 0 0 10px 10px;
            //position: absolute;
            //top: 43px;
            //width: 100%;

            ul {
                li {
                    list-style: none;
                }
            }
        }
        .menu-open {
            display: block;
        }
    }

    .dropdownAbout:last-child {
        margin-bottom: 0;
    }
}