.about {
    .bannerAbout {
        .bgDark {
            background: none;
        }
    }

    .collapseAbout {
        margin: 40px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) { // tablette
            margin: 40px 50px;
        }

        @media screen and (max-width: 400px) {
            margin: 20px;
        }

        .dropdownAbout{
            width: 85%;

            @media screen and (max-width: 400px) {
                width: 100%;
            }

            .dorpdownTitle {

                .dropdownButton {
                    @media screen and (max-width: 400px) {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}