.descriptionLogement {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    //align-items: center;

    .left {
        .locationBlock {
            .logementTitle {
                color: $color1;
                font-size: 36px;
                font-weight: 500;
                padding-bottom: 10px;
            }
        }

        .tagsBlock {
            ul {
                display: flex;
                margin-top: 20px;

                li {
                    list-style: none;
                    background: $color1;
                    color: white;
                    text-align: center;
                    padding: 5px 20px;
                    border-radius: 20px;
                    margin-right: 10px;
                    min-width: 115px;
                }  
            }
        }
    }

    .right {
        .ownerBlock {
            display: flex;
            align-items: center;

            .ownerName {
                margin-right: 10px;
                color: $color1;
                text-align: end;
            }

            .ownerImg {
                border-radius: 50%;
                height: 55px;
                width: 55px;
            }
        }

        .rating {
            //color: $color1;
            font-size: 24px;

            .star {
                color: #e3e3e3;
            }

            .red {
                color: $color1;
            }
        }
    }
}