.descriptionLogement {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;

    @media screen and (max-width: 876px) {
        margin: 0 100px;
        padding-top: 15px;
        flex-direction: column;
    }

    @media screen and (max-width: 768px) { // tablette
        margin: 0 50px;
    }

    @media screen and (max-width: 400px) {
        margin: 0 20px;
        padding-top: 15px;
        flex-direction: column;
    }

    .left {
        .locationBlock {
            .logementTitle {
                color: $color1;
                font-size: 36px;
                font-weight: 500;
                padding-bottom: 10px;

                @media screen and (max-width: 400px) {
                    font-size: 18px;
                    padding-bottom: 5px;
                }
            }

            p {
                @media screen and (max-width: 400px) {
                    font-size: 14px;
                }
            }
        }

        .tagsBlock {
            ul {
                display: flex;
                margin-top: 20px;

                @media screen and (max-width: 400px) {
                    margin-top: 10px;
                }

                li {
                    list-style: none;
                    background: $color1;
                    color: white;
                    text-align: center;
                    padding: 5px 20px;
                    border-radius: 20px;
                    margin-right: 10px;
                    min-width: 115px;

                    @media screen and (max-width: 400px) {
                        font-size: 10px;
                        max-width: 80px;
                    }
                }  
            }
        }
    }

    .right {
        @media screen and (max-width: 876px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-top: 20px;
        }

        @media screen and (max-width: 768px) { // tablette

        }

        @media screen and (max-width: 400px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-top: 20px;
        }

        .ownerBlock {
            display: flex;
            align-items: center;

            .ownerName {
                margin-right: 10px;
                color: $color1;
                text-align: end;

                @media screen and (max-width: 400px) {
                    font-size: 12px;
                }
            }

            .ownerImg {
                border-radius: 50%;
                height: 55px;
                width: 55px;

                @media screen and (max-width: 400px) {
                    height: 32px;
                    width: 32px;
                }
            }
        }

        .rating {
            font-size: 24px;

            @media screen and (max-width: 1206px) {
                font-size: 18px;
            }

            @media screen and (max-width: 400px) {
                font-size: 15px;
            }

            .star {
                color: #e3e3e3;
            }

            .red {
                color: $color1;
            }
        }
    }
}

.dropdownAboutContainer {
    margin: 40px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 768px) { // tablette
        margin: 40px 50px;
    }

    @media screen and (max-width: 400px) {
        flex-direction: column;
        margin: 10px 20px;
    }

    .dropdownAbout{
        width: 47%;
        margin: 0;

        @media screen and (max-width: 400px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}