@font-face {
    font-family: "montserrat";
    src: url("../assets/font/Montserrat/Montserrat-Medium.ttf");
}

$font1: "montserrat", sans-serif; 
$color1: #fc6468;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}


