@charset "UTF-8";
@font-face {
  font-family: "montserrat";
  src: url("../assets/font/Montserrat/Montserrat-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  margin: 0 100px;
}
@media screen and (max-width: 768px) {
  header {
    margin: 0 50px;
  }
}
@media screen and (max-width: 400px) {
  header {
    margin: 0 20px;
    padding: 20px 0;
  }
}
@media screen and (max-width: 400px) {
  header .logo {
    height: 47px;
  }
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
header nav .navbarLink {
  color: black;
  font-size: 24px;
}
@media screen and (max-width: 400px) {
  header nav .navbarLink {
    font-size: 12px;
  }
}
header nav .navbarLink:nth-child(2) {
  margin-left: 50px;
}
@media screen and (max-width: 400px) {
  header nav .navbarLink:nth-child(2) {
    margin-left: 26px;
  }
}
header nav .navbarLink:hover {
  text-decoration: underline;
}
header nav .navbarLink.active {
  text-decoration: underline;
}

.cardsContainer {
  padding: 40px 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f6f6f6;
  border-radius: 20px;
  margin: 40px 100px;
}
@media screen and (max-width: 768px) {
  .cardsContainer {
    margin: 40px 50px;
    padding: 20px 20px 10px;
  }
}
@media screen and (max-width: 400px) {
  .cardsContainer {
    padding: 0 20px;
    background: none;
    margin: 22px 0;
  }
}
.cardsContainer .cardLogement {
  width: 390px;
  height: 390px;
  margin-bottom: 30px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .cardsContainer .cardLogement {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .cardsContainer .cardLogement {
    height: 255px;
  }
}
.cardsContainer .cardLogement img {
  height: 390px;
  width: 390px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .cardsContainer .cardLogement img {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .cardsContainer .cardLogement img {
    width: 350px;
    height: 255px;
  }
}
.cardsContainer .cardLogement .titreLogement {
  position: absolute;
  top: 320px;
  left: 10px;
  width: 180px;
  color: white;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .cardsContainer .cardLogement .titreLogement {
    top: 230px;
  }
}
@media screen and (max-width: 400px) {
  .cardsContainer .cardLogement .titreLogement {
    top: 204px;
    width: 300px;
  }
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 50px 0 20px;
}
@media screen and (max-width: 400px) {
  footer {
    height: 210px;
    padding-top: 60px;
  }
}
footer p {
  margin-top: 30px;
}
@media screen and (max-width: 400px) {
  footer p {
    font-size: 12px;
    margin: 10px 130px;
  }
}

.carrousel-container {
  height: 415px;
  margin: 0 100px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .carrousel-container {
    margin: 0 50px;
  }
}
@media screen and (max-width: 400px) {
  .carrousel-container {
    margin: 0 20px;
    height: 255px;
  }
}
.carrousel-container .imageAppart {
  border-radius: 20px;
  height: 415px;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .carrousel-container .imageAppart {
    height: 255px;
  }
}
.carrousel-container .previous, .carrousel-container .next {
  position: absolute;
  height: 50px;
  width: 50px;
  font-size: 100px;
  color: white;
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 45%;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .carrousel-container .previous, .carrousel-container .next {
    height: 24px;
    width: 24px;
    font-size: 40px;
  }
}
.carrousel-container .previous {
  left: 20px;
}
@media screen and (max-width: 400px) {
  .carrousel-container .previous {
    left: 10px;
  }
}
.carrousel-container .next {
  right: 20px;
}
@media screen and (max-width: 400px) {
  .carrousel-container .next {
    right: 10px;
  }
}
.carrousel-container .numPages {
  color: white;
  position: absolute;
  left: 50%;
  bottom: 20px;
  font-size: 18px;
}
@media screen and (max-width: 400px) {
  .carrousel-container .numPages {
    display: none;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  border-radius: 20px;
  margin: 0 100px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .banner {
    margin: 0 50px;
  }
}
@media screen and (max-width: 400px) {
  .banner {
    padding-left: 16px;
    height: 111px;
    margin: 0 20px;
  }
}
.banner h1 {
  color: white;
  font-size: 48px;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .banner h1 {
    text-align: center;
    font-size: 40px;
  }
}
@media screen and (max-width: 400px) {
  .banner h1 {
    font-size: 24px;
  }
}
.banner .bgDark {
  background: rgba(0, 0, 0, 0.5); /* Filtre noir avec opacité de 0.5 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 400px) {
  .banner .bgDark {
    height: 100%; /* Ensure the filter covers the entire container */
  }
}

.about .bannerAbout .bgDark {
  background: none;
}
.about .collapseAbout {
  margin: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .about .collapseAbout {
    margin: 40px 50px;
  }
}
@media screen and (max-width: 576px) {
  .about .collapseAbout {
    margin: 20px;
  }
}
.about .collapseAbout .dropdownAbout {
  width: 85%;
}
@media screen and (max-width: 576px) {
  .about .collapseAbout .dropdownAbout {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .about .collapseAbout .dropdownAbout .dorpdownTitle .dropdownButton {
    font-size: 13px;
  }
}

.descriptionLogement {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 100px;
}
@media screen and (max-width: 876px) {
  .descriptionLogement {
    margin: 0 100px;
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .descriptionLogement {
    margin: 0 50px;
  }
}
@media screen and (max-width: 400px) {
  .descriptionLogement {
    margin: 0 20px;
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.descriptionLogement .left .locationBlock .logementTitle {
  color: #fc6468;
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 10px;
}
@media screen and (max-width: 400px) {
  .descriptionLogement .left .locationBlock .logementTitle {
    font-size: 18px;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 400px) {
  .descriptionLogement .left .locationBlock p {
    font-size: 14px;
  }
}
.descriptionLogement .left .tagsBlock ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
@media screen and (max-width: 400px) {
  .descriptionLogement .left .tagsBlock ul {
    margin-top: 10px;
  }
}
.descriptionLogement .left .tagsBlock ul li {
  list-style: none;
  background: #fc6468;
  color: white;
  text-align: center;
  padding: 5px 20px;
  border-radius: 20px;
  margin-right: 10px;
  min-width: 115px;
}
@media screen and (max-width: 400px) {
  .descriptionLogement .left .tagsBlock ul li {
    font-size: 10px;
    max-width: 80px;
  }
}
@media screen and (max-width: 876px) {
  .descriptionLogement .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
}
@media screen and (max-width: 400px) {
  .descriptionLogement .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
}
.descriptionLogement .right .ownerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.descriptionLogement .right .ownerBlock .ownerName {
  margin-right: 10px;
  color: #fc6468;
  text-align: end;
}
@media screen and (max-width: 400px) {
  .descriptionLogement .right .ownerBlock .ownerName {
    font-size: 12px;
  }
}
.descriptionLogement .right .ownerBlock .ownerImg {
  border-radius: 50%;
  height: 55px;
  width: 55px;
}
@media screen and (max-width: 400px) {
  .descriptionLogement .right .ownerBlock .ownerImg {
    height: 32px;
    width: 32px;
  }
}
.descriptionLogement .right .rating {
  font-size: 24px;
}
@media screen and (max-width: 1206px) {
  .descriptionLogement .right .rating {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .descriptionLogement .right .rating {
    font-size: 15px;
  }
}
.descriptionLogement .right .rating .star {
  color: #e3e3e3;
}
.descriptionLogement .right .rating .red {
  color: #fc6468;
}

.dropdownAboutContainer {
  margin: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .dropdownAboutContainer {
    margin: 40px 50px;
  }
}
@media screen and (max-width: 400px) {
  .dropdownAboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 20px;
  }
}
.dropdownAboutContainer .dropdownAbout {
  width: 47%;
  margin: 0;
}
@media screen and (max-width: 400px) {
  .dropdownAboutContainer .dropdownAbout {
    width: 100%;
    margin-bottom: 20px;
  }
}

.dropdownAbout {
  margin-bottom: 30px;
  position: relative;
}
.dropdownAbout .dropdownTitle {
  background: #fc6468;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .dropdownAbout .dropdownTitle {
    border-radius: 5px;
    padding: 5px 10px;
  }
}
.dropdownAbout .dropdownTitle .dropdownButton {
  background: #fc6468;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 400px) {
  .dropdownAbout .dropdownTitle .dropdownButton {
    font-size: 13px;
  }
}
.dropdownAbout .dropdownTitle .fa-chevron-down {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.dropdownAbout .dropdownTitle .fa-chevron-down-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dropdownAbout .dropdownContent {
  padding: 20px;
  display: none;
  background: #f6f6f6;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 400px) {
  .dropdownAbout .dropdownContent {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    font-size: 10px;
  }
}
.dropdownAbout .dropdownContent ul li {
  list-style: none;
}
.dropdownAbout .menu-open {
  display: block;
}

.dropdownAbout:last-child {
  margin-bottom: 0;
}

.erreur {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.erreur h1, .erreur h2 {
  color: #fc6468;
}
.erreur h1 {
  font-size: 290px;
  margin-bottom: 90px;
}
@media screen and (max-width: 400px) {
  .erreur h1 {
    font-size: 96px;
    margin: 80px 130px 110px;
  }
}
.erreur h2 {
  font-size: 36px;
}
@media screen and (max-width: 400px) {
  .erreur h2 {
    font-size: 18px;
    margin: 0;
    text-align: center;
    font-weight: lighter;
  }
}
.erreur .lienError {
  font-size: 18px;
  color: black;
  margin: 70px 0;
}
@media screen and (max-width: 400px) {
  .erreur .lienError {
    font-size: 14px;
    margin: 110px 0;
  }
}/*# sourceMappingURL=index.css.map */