.carrousel-container {
    height: 415px;
    margin: 0 100px;
    position: relative;

    @media screen and (max-width: 400px) {
        margin: 0 20px;
        height: 255px;
    }

    .imageAppart {
        border-radius: 20px;
        height: 415px;
        width: 100%;

        @media screen and (max-width: 400px) {
            height: 255px;
        }
    }

    .previous, .next {
        position: absolute;
        height: 50px;
        width: 50px;
        font-size: 100px;
        font-weight: bold;
        color: white;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 45%;
        cursor: pointer;

        @media screen and (max-width: 400px) {
            font-weight: lighter;
            height: 24px;
            width: 24px;
            font-size: 40px;
        }
    }

    .previous {
        left: 20px;

        @media screen and (max-width: 400px) {
            left: 10px;
        }
    }

    .next {
        right: 20px;

        @media screen and (max-width: 400px) {
            right: 10px;
        }
    }

    .numPages {
        color: white;
        position: absolute;
        left: 50%;
        bottom: 20px;
        font-size: 18px;

        @media screen and (max-width: 400px) {
            display: none;
        }
    }

}